

.active {
  color: darkblue;
}

.navbar {
  margin-top: 10px;
}

.hidden {
  display: none;
}

.goleft {
  float: left;
}

.goright {
  float: right;
}

.gocontainer {
  overflow: hidden;
}

.godivider{
  width:10px;
  height:auto;
  display:inline-block;
}
